/*TODO MAKE THE IMAGES A DRAWN SQUARE*/


body {
    background: #ffffff url('../img/geometry2.png');
}

h1 {
    text-align: center;
}



/*SLIDER CSS BELOW*/


/* The slider itself */

.slidecontainer {
    width: 602px;
    margin-left: auto;
    margin-right: auto;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-left: auto;
    margin-right: auto;
}

.slider:hover {
    opacity: 1;
}


/*.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border: 0;
    background: url("../img/troll.png");
    cursor: pointer;
}*/


/*.slider::-moz-range-thumb {
    width: 23px;
    height: 24px;
    border: 0;
    background: url("../img/oval.png");
    cursor: pointer;
}*/

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    background-color: #555;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}



/*SLIDER CODE ENDS*/

/*TODO styling for the winner modal*/
#winner-text {

}

#timer {
    font-size: 27px;
}

.theGap {
    margin-bottom: 20px;
}


#table-square {
    width: 617px;
    margin-left: auto;
    margin-right: auto;
}

#row-one {
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.square-down {
    /*background-color: grey;*/
    background-color: #ffffff;
    position: relative;
    top: 0;
    left: 0;
    border-color: blue;
}

.slider {
    width: 600px;
}



.score {
    font-size: 25px;
    text-align: center;
    width: 100%;
}

#rating-section {
    text-align: center;
}

/*Button for the reset of the game*/

/*TODO need to sort styling and add a bit more space above to make the button stand out more*/
#resetGame {
    border: 2px;
    font-size: 16px;
}